@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&display=swap");

.Hero-page {
  position: relative;
  height: 100vh; /* Full height to cover the viewport */
  overflow: hidden; /* Ensures no scrolling */
}

.Hero-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://images.pexels.com/photos/586030/pexels-photo-586030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Apply blur effect */
  z-index: -1; /* Ensure the blur stays behind the content */
}

.home-container {
  position: relative; /* Position relative so it appears above the blurred background */
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  z-index: 1; 
}

.left-section {
  display: flex;
}

.right-section {
  width: 500px;
  height: 500px;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
}

.right-sec-btn {
  display: flex;
  gap: 10px;
}

.right-sec-btn button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  font-size: 1rem;
  color: white;
  padding: 10px;
  background-color: #6ab296;
  font-family: "Montserrat", sans-serif;
}

.image-container {
  /* border: 2px solid black; */
  display: flex;
  align-items: flex-end;
  max-width: 500px;
}

.cover-img {
  /* border: 2px solid black; */
  width: 100%;
  height: auto;
  object-fit: cover;
}

.vertical-font {
  /* border: 2px solid black; */
  writing-mode: vertical-rl;
  white-space: nowrap;
  transform: rotate(180deg);
  margin-right: 10px;
}

