body {
  background: rgb(56, 56, 56);
  background: linear-gradient(
    180deg,
    rgba(56, 56, 56, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fdfdfd;

}
.Hero-page {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.fixed-logo {
  position: fixed;
  top: 40px;
  left: 90px;
  width: 50px; /* Adjust size as needed */
  height: auto;
  z-index: 999; /* Ensure it stays on top of other elements */
}
