body {
  background: rgb(56, 56, 56);
  background: linear-gradient(
    180deg,
    rgba(56, 56, 56, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fdfdfd;
}

.Hero-page {
  display: flex;
  justify-content: center;
}

.fixed-logo {
  position: fixed;
  top: 40px;
  left: 90px;
  width: 50px;
  height: auto;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .fixed-logo {
    width: 30px; 
    top: 20px;
    left: 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .fixed-logo {
    width: 40px;
    top: 30px;
    left: 50px;
  }
}

 /* For large devices  */
 @media (min-width: 992px) {
  .fixed-logo {
    width: 60px;
    top: 40px;
    left: 100px;
  }
} 
